openapi: 3.0.0
info:
  title: 'DDF Select'
  version: '1.0'
servers:
  -
    url: 'https://ddf-select.tii.one'
paths:
  /api/albums:
    get:
      summary: 'Get Albums'
      description: 'List all albums.'
      operationId: 735609843dcfb89ee4e12e340eddca25
      responses:
        '200':
          description: OK
  '/api/albums/{id}':
    get:
      summary: 'Show Album'
      description: 'Shows a specific album.'
      operationId: 71e9c4179582355e89419e6f6994c418
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
        -
          name: include
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - albums
                - tracks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumResource'
        '404':
          description: 'Not Found'
  /api/albums/random:
    get:
      summary: 'Get Random Album'
      description: 'Shows a random album.'
      operationId: 484c083a1259eb1feae1ef6986c8dc62
      responses:
        '200':
          description: OK
components:
  schemas:
    ArtworkData:
      required:
        - height
        - width
        - url
      properties:
        bgColor:
          description: 'The average background color of the image.'
          type: string
        height:
          description: 'The maximum height available for the image'
          type: integer
        width:
          description: 'The maximum width available for the image.'
          type: integer
        textColor1:
          description: 'The primary text color used if the background color gets displayed.'
          type: string
        textColor2:
          description: 'The secondary text color used if the background color gets displayed.'
          type: string
        textColor3:
          description: 'The tertiary text color used if the background color gets displayed.'
          type: string
        textColor4:
          description: 'The final post-tertiary text color used if the background color gets displayed.'
          type: string
        url:
          description: 'The URL to request the image asset. {w}x{h}must precede image filename, as placeholders for the width and height values as described above. For example, {w}x{h}bb.jpeg).'
          type: string
      type: object
    AlbumResource:
      properties:
        id:
          description: 'The identifier for the album.'
          type: integer
        apple_music_id:
          description: 'The Apple Music identifier for the album.'
          type: string
        name:
          description: 'The localized name of the album.'
          type: string
        track_count:
          description: 'The number of tracks for the album.'
          type: integer
        release_date:
          description: 'The release date of the album, when known, in YYYY-MM-DD or YYYY format. Prerelease content may have an expected release date in the future.'
          type: string
        url:
          description: 'The URL for sharing the album in Apple Music.'
          type: string
        artwork:
          $ref: '#/components/schemas/ArtworkData'
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      bearerFormat: apiKey
      scheme: bearer
security:
  -
    bearerAuth: []
